a, a > code {
  color: rgb(6,128,205);
  text-decoration: none;
}

h1, h2, h3 {
  /* color: #0736A4 */
  color: #003366;
  line-height: 0.6em;
	text-shadow: 0 0 10px #666666;
}
 
.dk_orange {
	background-color: #F09905;
}

.dk_orange a, .dk_orange a > code {
	color: rgb(6,128,205);
	text-decoration: none;
}

.dk_orange h1, .dk_orange h2, .dk_orange h3 {
	  color: #001A57;
	  line-height: 0.8em;
	  text-shadow: 0 0 10px #666666;
}

.dk_softblue {
  background-color: #339999;
  color: #FFD960;
}

.dk_softblue a, .dk_softblue a > code {
  /* color: rgb(153,50, 153); */
  color: rgb(19,2,131);
  text-decoration: none;
}
.dk_softblue h1, .dk_softblue h2, .dk_softblue h3 {
  color: #001A57;
  line-height: 0.8em;
  text-shadow: 0 0 10px #728302;
}

.dk_green {
  background-color: #728302;
  /* color: #FFD960; */
}
.dk_green h1, .dk_green h2, .dk_green h3 {
  color: #001A57;
  line-height: 0.8em;
  text-shadow: 0 0 10px #FFD960;
}

.dk_green a, .dk_green a > code {
	color: rgb(19,2,131);
	text-decoration: none;
}

.inverse {
  background-color: #003366;
  color: #B5B5B5;
  text-shadow: 0 0 20px #728302;
  /* 001A57 728302*/
}

.inverse h1, .inverse h2, .inverse h3 {
  color: #B5B5B5;
  line-height: 0.8em;
}


.imageTop {
  vertical-align: top;
}

h4 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

